section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  margin: auto;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin: 24px;
  padding: 15px;
  border: 10px solid blue;
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}
